body { padding-top: 70px; }

.sidemenu {
	width: 150px;
	float:left;
	margin-left: 12px;
}

.sidemenu a {
	width: 100%;
	margin-top: 5px;
}

.maintable
{
	margin-left:175px;
	width: 80%;
}

h4 .content {
	margin-left: 190px;
}

.errtxt {
	color: red;
	font-weight: bold;
}

#import_form
{
	width: 100%;
	visibility: hidden;
}


.loginform
{
	width: 40%;
}

.footer
{
	margin: auto;
	margin-top: 100px;
	font-size: 10px;
	font-weight: bold;
}